:root {
    --main-color: #980028;
    --sub-color: white
}

* {
    font-family: 'Courier New', Courier, monospace;
}

#wrapper {
    text-align: center;
    margin-top: 3rem;
}

label {
    width: 100%;
    display: inline-block;
}

input:not(input[type="checkbox"]):not(input[type="submit"]) {
    width: 50%;
}

form {
    width: fit-content;
    display: inline-block;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    color: var(--sub-color);
    border: none;
    box-shadow: none;
}

button {
    padding: 0.5rem 1rem;
    background: var(--main-color);
    color: var(--sub-color);
    border: none;
    box-shadow: none;
}

#buttons {
    text-align: center;
}

legend {
    color: var(--main-color)
}

fieldset {
    font-weight: bold;
}

select {
    width: 6rem;
    height: 2rem;
    outline: none !important;
}

input {
    outline: none !important;
}

#items form {
    margin-bottom: 1rem;
}

#user {
    color: var(--main-color);
    font-weight: bold;
}

#field {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.letters {
    word-wrap: break-word;
}

input[type="checkbox"]:checked {
    accent-color: crimson;
}